/* 200 - 700 */

body {
  /* Base */
  color: #FFFFFF;
  color: #000000;

  /* Primary colors */

  /* Gray */
  color: #e9eaeb;
  color: #d5d7da;
  color: #a4a7ae;
  color: #717680;
  color: #535862;
  color: #414651;

  /* Error */
  color: #fecdc9;
  color: #fda19b;
  color: #f97066;
  color: #f04438;
  color: #d92d20;
  color: #b32318;

  /* Warning */
  color: #fedf89;
  color: #fec84b;
  color: #fdb022;
  color: #f79009;
  color: #dc6803;
  color: #b54708;

  /* Success */
  color: #a9efc5;
  color: #75e0a7;
  color: #47cd89;
  color: #17b26a;
  color: #079455;
  color: #067647;

  /* Secondary colors */

  /* Yellow */
  color: #feee95;
  color: #fde172;
  color: #fac415;
  color: #eaaa08;
  color: #ca8504;
  color: #a15c07;

  /* Orange */
  color: #f9dbaf;
  color: #f7b27a;
  color: #f38744;
  color: #ef6820;
  color: #e04f16;
  color: #b93815;

  /* Orange dark */
  color: #ffd6ae;
  color: #ff9c66;
  color: #ff692e;
  color: #ff4405;
  color: #e62e05;
  color: #bc1b06;

  /* Rose */
  color: #feccd6;
  color: #fea3b4;
  color: #fd6f8e;
  color: #f63d68;
  color: #e31b53;
  color: #c01048;

  /* Pink */
  color: #fcceee;
  color: #faa7e0;
  color: #f670c7;
  color: #ee46bc;
  color: #dd2590;
  color: #c01574;

  /* Fuchsia */
  color: #f6d0fe;
  color: #eeaafd;
  color: #e478fa;
  color: #d444f1;
  color: #ba24d5;
  color: #9f1ab1;

  /* Purple */
  color: #d9d6fe;
  color: #bdb4fe;
  color: #9b8afb;
  color: #7a5af8;
  color: #6938ef;
  color: #5925dc;

  /* Violet */
  color: #ddd6fe;
  color: #c3b4fd;
  color: #a48afb;
  color: #875bf7;
  color: #7839ee;
  color: #6927da;

  /* Indigo */
  color: #c6d7fe;
  color: #a4bcfd;
  color: #8098f9;
  color: #6172f3;
  color: #444ce7;
  color: #3538cd;

  /* Blue dark */
  color: #b2ccff;
  color: #84adff;
  color: #528bff;
  color: #2970ff;
  color: #155eef;
  color: #004eeb;

  /* Blue */
  color: #b2ddff;
  color: #84caff;
  color: #53b1fd;
  color: #2e90fa;
  color: #1570ef;
  color: #175cd3;

  /* Blue light */
  color: #b9e6fe;
  color: #7cd4fd;
  color: #36bffa;
  color: #0ba5ec;
  color: #0086c9;
  color: #026aa2;

  /* Cyan */
  color: #a5f0fc;
  color: #67e3f9;
  color: #22ccee;
  color: #06aed4;
  color: #088ab2;
  color: #0e6f90;

  /* Teal */
  color: #99f6e0;
  color: #5fe9d0;
  color: #2ed3b7;
  color: #15b79e;
  color: #0e9384;
  color: #107569;

  /* Green */
  color: #aaf0c4;
  color: #73e2a3;
  color: #3ccb7f;
  color: #16b364;
  color: #099250;
  color: #087443;

  /* Green light  */
  color: #d0f8aa;
  color: #a6ef67;
  color: #85e139;
  color: #66c61c;
  color: #4ba30d;
  color: #3b7c0f;

  /* Moss */
  color: #ceeab0;
  color: #acdb79;
  color: #86cb3c;
  color: #669f2a;
  color: #4f7a21;
  color: #3f621a;

  /* Gray warm  */
  color: #e7e5e4;
  color: #d7d3d0;
  color: #a8a29d;
  color: #79716b;
  color: #57534e;
  color: #44403c;

  /* Gray modern  */
  color: #e3e8ef;
  color: #cdd5df;
  color: #9aa3b2;
  color: #697586;
  color: #4b5565;
  color: #364152;

  /* Gray blue */
  color: #d5d9eb;
  color: #b3b8db;
  color: #717bbc;
  color: #4e5ba6;
  color: #3e4784;
  color: #363f72;
}

body {
  /* Base */
  color: #FFFFFF; color: #000000;

  /* Primary colors */

  /* Gray */              /* Error */             /* Warning */           /* Success */
  color: #e9eaeb;       color: #fecdc9;       color: #fedf89;       color: #a9efc5;
  color: #d5d7da;       color: #fda19b;       color: #fec84b;       color: #75e0a7;
  color: #a4a7ae;       color: #f97066;       color: #fdb022;       color: #47cd89;
  color: #717680;       color: #f04438;       color: #f79009;       color: #17b26a;
  color: #535862;       color: #d92d20;       color: #dc6803;       color: #079455;
  color: #414651;       color: #b32318;       color: #b54708;       color: #067647;

  /* Secondary colors */

  /* Gray warm  */        /* Gray modern  */      /* Gray blue */
  color: #e7e5e4;       color: #e3e8ef;       color: #d5d9eb;
  color: #d7d3d0;       color: #cdd5df;       color: #b3b8db;
  color: #a8a29d;       color: #9aa3b2;       color: #717bbc;
  color: #79716b;       color: #697586;       color: #4e5ba6;
  color: #57534e;       color: #4b5565;       color: #3e4784;
  color: #44403c;       color: #364152;       color: #363f72;

  /* Orange dark */       /* Orange */            /* Yellow */
  color: #ffd6ae;       color: #f9dbaf;       color: #feee95;
  color: #ff9c66;       color: #f7b27a;       color: #fde172;
  color: #ff692e;       color: #f38744;       color: #fac415;
  color: #ff4405;       color: #ef6820;       color: #eaaa08;
  color: #e62e05;       color: #e04f16;       color: #ca8504;
  color: #bc1b06;       color: #b93815;       color: #a15c07;

  /* Fuchsia */           /* Pink */              /* Rose */
  color: #f6d0fe;       color: #fcceee;       color: #feccd6;
  color: #eeaafd;       color: #faa7e0;       color: #fea3b4;
  color: #e478fa;       color: #f670c7;       color: #fd6f8e;
  color: #d444f1;       color: #ee46bc;       color: #f63d68;
  color: #ba24d5;       color: #dd2590;       color: #e31b53;
  color: #9f1ab1;       color: #c01574;       color: #c01048;

  /* Purple */            /* Violet */            /* Indigo */
  color: #d9d6fe;       color: #ddd6fe;       color: #c6d7fe;
  color: #bdb4fe;       color: #c3b4fd;       color: #a4bcfd;
  color: #9b8afb;       color: #a48afb;       color: #8098f9;
  color: #7a5af8;       color: #875bf7;       color: #6172f3;
  color: #6938ef;       color: #7839ee;       color: #444ce7;
  color: #5925dc;       color: #6927da;       color: #3538cd;

  /* Blue dark */         /* Blue */              /* Blue light */        /* Cyan */
  color: #b2ccff;       color: #b2ddff;       color: #b9e6fe;       color: #a5f0fc;
  color: #84adff;       color: #84caff;       color: #7cd4fd;       color: #67e3f9;
  color: #528bff;       color: #53b1fd;       color: #36bffa;       color: #22ccee;
  color: #2970ff;       color: #2e90fa;       color: #0ba5ec;       color: #06aed4;
  color: #155eef;       color: #1570ef;       color: #0086c9;       color: #088ab2;
  color: #004eeb;       color: #175cd3;       color: #026aa2;       color: #0e6f90;

  /* Teal */              /* Green */             /* Green light  */      /* Moss */
  color: #99f6e0;       color: #aaf0c4;       color: #d0f8aa;       color: #ceeab0;
  color: #5fe9d0;       color: #73e2a3;       color: #a6ef67;       color: #acdb79;
  color: #2ed3b7;       color: #3ccb7f;       color: #85e139;       color: #86cb3c;
  color: #15b79e;       color: #16b364;       color: #66c61c;       color: #669f2a;
  color: #0e9384;       color: #099250;       color: #4ba30d;       color: #4f7a21;
  color: #107569;       color: #087443;       color: #3b7c0f;       color: #3f621a;
}
